__debug*
.generated/
*_mock.go
axon-agent
*.pyc
# mitmproxy: ignore generated/derived files, track CA files
test/relay/.mitmproxy/broker-server-*
test/relay/.mitmproxy/combined-ca-bundle.crt
test/relay/.mitmproxy/*.srl
