name: Agent Unit Test

on:
  push:
    branches:
      - '**'
  pull_request:

# Temporary until SDK is public
env:
  GITHUB_USERNAME: ${{ secrets.GH_ACTOR }}
  GITHUB_PASSWORD: ${{ secrets.GH_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.5'

      - name: Install dependencies
        run: |
            sudo apt install -y protobuf-compiler  
            make -C agent setup proto

      - name: Run Agent tests
        run: make -C agent test

      - name: Run Go SDK tests
        run: |
          cd sdks/go
          go mod tidy
          make test

  docker-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.25.5'

      - name: Install dependencies
        run: |
            sudo apt install -y protobuf-compiler  
            make -C agent setup proto

      - name: Build Agent Local Image
        run: |
          make docker-build
      
      - name: Run scaffold test - Go
        run: |
          cd scaffold && ./scaffold_test.sh go

      - name: Run scaffold test - Python
        run: |
            cd scaffold && ./scaffold_test.sh python
      
      - name: "Run Relay Test: No Proxy"
        run: make -C agent relay-test-no-proxy

      - name: "Run Relay Test: With Proxy"
        run: make -C agent relay-test-with-proxy
      
  helm-test:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Helm
        uses: azure/setup-helm@v1

      - name: Render Helm Chart
        run: |
          cd examples/relay/helm-chart
          make test-render